@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home-page.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
@using Microsoft.AspNetCore.Identity
@using Monopoly.Areas.Identity.Data

@inject SignInManager<MonopolyUser> SignInManager
@inject UserManager<MonopolyUser> UserManager

<body class="main-page">
    <div class="custom">
        
        <img src="https://i.imgur.com/qM5LCgI.png" class="centered-image"/>
        <div class="chat">
            <div style="justify-content:center">
                <h2 class="rules-text" style="color:#F5CD6C;">Monopoly chat</h2>
            </div>
            <hr style="border-color:#F5CD6C;background-color:#F5CD6C">
            <div class="send-message">
                <div class="send-message-title">Message:</div>
                <input type="text" id="txtmessage" class="input-message" onkeyup="checkRequiredFields()"/>
                <button type="button" id="sendBtn" class="btn send-message-button" disabled="true">Send</button>
            </div>
            
            <div class="message-list" id="messagesList">
                <ul id="ulmessages" style="color:white"></ul>
            </div>

        </div>
        <div class="buttons">
            <button class="bottom-button" onclick="openCreateRoomPopup()">Create Room</button>
            <button class="bottom-button" onclick="openJoinPublicRoomPopup()">Join Public Room</button>
            <button class="bottom-button" onclick="openJoinPrivateRoomPopup()">Join Private Room</button>
            <button class="bottom-button" onclick="openRulesPopup()">Rules</button>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse profile-button">
            <partial name="../Shared/_LoginPartial.cshtml"/>
        </div>
    </div>

@*Rules modal*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalRules">
    <div class="modal-dialog modal-md" style="max-width: 1000px">
        <div class="modal-content" style="background-color: #52755F; max-height: calc(100vh - 210px); overflow-y: auto;">
            <div class="modal-header" style="justify-content: center">
                <h2 class="modal-title rules-text" style="color: #F5CD6C;">Monopoly rules</h2>
            </div>
            <div style="margin:10px" class="text-center">
                <h4 class="rules-text">Game start</h4>
                <div class="subrules">
                    Each player starts the Game with 2000$.
                </div>
                <div class="subrules">
                    Each time you pass through or over the "GO" card, you will receive 200$.
                </div>
                <div class="subrules">
                    If a player rolls a double, he has the right to roll again.
                    If he rolls a double for three times in a round, the third one is unavailable and the player will go to Jail.
                </div>
                <br>

                <h4 class="rules-text">Arrival on unbought street</h4>
                <div class="subrules">
                    When a player lands on a street that is unbought he has the posibility to buy the street at the price that is displayed on the card.
                </div>
                <br>

                <h4 class="rules-text">Arrival on bought street</h4>
                <div class="subrules">
                    When a player lands on a bought street he will pay the rent for that property.
                </div>
                <div class="subrules">
                    The rent is going to double when a player will have a complete color group (a neighborhood).
                </div>
                <br>

                <h4 class="rules-text">Jail</h4>
                <div class="subrules">
                    A player goes to Jail when he arrive on the "GO TO JAIL"/"JAIL" card or when he rolls a double for three times in a row.
                </div>
                <div class="subrules">
                    The player gets out of Jail the next round but he is going to pay:
                    <ul>
                        <li>20$ if he rolls doubles.</li>
                        <li>50$ otherwise.</li>
                    </ul>
                </div>
                <div class="subrules">
                    A player can make trasactions, collect rents even though he is in Jail.
                </div>
                <br>

                <h4 class="rules-text">Buildings</h4>
                <div class="subrules">
                    They can be made only on a neighborhood.
                </div>
                <br>
                
                <h4 class="rules-text">Selling a property</h4>
                <div class="subrules">
                    The unbuilt lands, airports, stations and factories can be sold to a player by negociations.
                </div>
                <div class="subrules">
                    The buildings can be sold only to the bank, at half the purchase price.
                </div>
                <br>

                <h4 class="rules-text">Mortage</h4>
                <div class="subrules">
                    They are made by the bank. The value of the mortage is half the price of the street.
                </div>
                <br>

                <h4 class="rules-text">Banckrupcity</h4>
                <div class="subrules">
                    A player that can't pay the rent to another player is going to gave in all his properties to the second player and to lose the game.
                </div>
                <br>

                <h4 class="rules-text">Winner</h4>
                <div class="subrules">
                    When the players are going in banckrupcity, the winner is the one who remains last.
                </div>
            </div>

            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-rules-button" onclick="closeRulesPopup()">Close</button>
            </div>

        </div>
    </div>
</div>

@* Create room modal *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalCreateRoom">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #52755F;">
            <div class="modal-header text-center" style="justify-content: center">
                <h2 class="modal-title rules-text" style="color: #F5CD6C;">Create game room</h2>
            </div>
            <div style="margin:10px" class="text-center">
                <h4 style="color:white">Room type:</h4>
                <select name="roomType" id="roomType" class="room-type">
                    <option value="public">Public room</option>
                    <option value="private">Private room</option>
                </select>
            </div>
            <div style="margin:10px" class="text-center" id="roomNameDiv">
                <h4 style="color:white">Room name*:</h4>
                <input type="text" id="roomName" class="input-message" onkeyup="checkRoomRequiredFields()"/>
            </div>
            <div style="margin:10px" class="text-center" id="roomPasswordDiv">
                <h4 style="color:white">Room password*:</h4>
                <input type="password" id="roomPassword" class="input-message" onkeyup="checkRoomRequiredFields()"/>
            </div>
            <div style="margin:10px" class="text-center" id="roomNameDiv">
                <h4 style="color:white">Number of players*:</h4>
                <div style="display:flex;justify-content:center">
                    <div style="display:flex;margin:5px" >
                        <input type="radio" id="TwoPlayers" name="playersNumber" value="2" style="margin:5px" checked="checked">
                        <label for="TwoPlayers" style="font-size:large;color:white">2</label><br>
                    </div>
                    <div style="display:flex;margin:5px" >
                        <input type="radio" id="ThreePlayers" name="playersNumber" value="3" style="margin:5px">
                        <label for="ThreePlayers" style="font-size:large;color:white">3</label><br>  
                    </div>
                    <div style="display:flex;margin:5px" >
                        <input type="radio" id="FourPlayers" name="playersNumber" value="4" style="margin:5px">
                        <label for="FourPlayers" style="font-size:large;color:white">4</label><br><br>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-rules-button" onclick="CreateRoom(`@UserManager.GetUserAsync(User).Result.FirstName`+ ` ` + `@UserManager.GetUserAsync(User).Result.LastName`)" id="createRoomButton" disabled="true">Create</button>
                <button type="button" class="btn close-rules-button" onclick="closeCreateRoomPopup()">Cancel</button>
            </div>
        </div>
    </div>
</div>

@* Join Public Room *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalJoinPublicRoom">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #52755F;">
            <div class="modal-header text-center" style="justify-content: center">
                <h2 class="modal-title rules-text" style="color: #F5CD6C;">Join public room</h2>
            </div>
            <div style="margin-top:10px;margin-left:10px;margin-right:10px" class="text-center">
                <h4 style="color:white">Select a room you would like to join:</h4>
            </div>
            <div style="margin:10px" class="text-center" id="availablePublicRooms" hidden="true">
                <select id="selectPublicRoom" class="select-public-room form-control" style="height:100%" multiple></select> 
            </div>
            <div style="margin:10px;color:white;font-size:larger" class="text-center" id="noPublicRooms" hidden="true">No public rooms available</div>
            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-rules-button" onclick="JoinPublicRoom(`@UserManager.GetUserAsync(User).Result.FirstName`+ ` ` + `@UserManager.GetUserAsync(User).Result.LastName`)" disabled="true" hidden="true" id="joinPublicRoomButton">Join</button>
                <button type="button" class="btn close-rules-button" onclick="closeJoinPublicRoomPopup()">Cancel</button>
            </div>
        </div>
    </div>
</div>

@* Join Private Room *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalJoinPrivateRoom">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #52755F;">
            <div class="modal-header text-center" style="justify-content: center">
                <h2 class="modal-title rules-text" style="color: #F5CD6C;">Join private room</h2>
            </div>
            <div style="margin-top:10px;margin-left:10px;margin-right:10px" class="text-center">
                <h4 style="color:white">Select a room you would like to join:</h4>
            </div>

            <div style="margin:10px" class="text-center" id="availablePrivateRooms" hidden="true">
                <select id="selectPrivateRoom" class="select-public-room form-control" multiple></select> 
            </div>

            <div style="margin:10px;color:white;font-size:larger" class="text-center" id="noPrivateRooms" hidden="true">No private rooms available</div>

            <input type="text" id="privateRoomPassword" class="input-message" onkeyup="checkRequiredFieldsPrivateRoom()" hidden="true"/>
            <div class="alert alert-danger" role="alert" style="margin:10px;font-weight:bold;color:red" hidden="true" id="wrongPassword">Wrong password!</div>
            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn close-rules-button" onclick="JoinPrivateRoom(`@UserManager.GetUserAsync(User).Result.FirstName`+ ` ` + `@UserManager.GetUserAsync(User).Result.LastName`)" disabled="true" id="joinPrivateRoomButton">Join</button>
                <button type="button" class="btn close-rules-button" onclick="closeJoinPrivateRoomPopup()">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    function openRulesPopup()
    {
        $('#modalRules').modal('show');
    }

    function closeRulesPopup()
    {
        $('#modalRules').modal('hide');
    }

    $('#roomPasswordDiv').hide();
    $('#roomType').change(function(){
        if($('#roomType').children("option:selected").val()=="private"){
            $('#roomPasswordDiv').show();
        }else{
            $('#roomPasswordDiv').hide();
        }
    });

    function checkRoomRequiredFields()
    {
        if($('#roomName').val() != "" && $('#roomType').children("option:selected").val()=="public"){
            $('#createRoomButton').prop('disabled', false);
        }else if($('#roomName').val() != "" && $('#roomType').children("option:selected").val()=="private" && $('#roomPassword').val() != ""){
            $('#createRoomButton').prop('disabled', false);
        }else {
            $('#createRoomButton').prop('disabled', true);
        }
    }

    function checkRequiredFieldsPrivateRoom()
    {
        console.log($("#privateRoomPassword").val());
        console.log($( "#selectPrivateRoom :selected").length)
        if($( "#selectPrivateRoom :selected").length != 0 && $("#privateRoomPassword").val() != ""){
            $('#joinPrivateRoomButton').prop('disabled', false);
        }else{
            $('#joinPrivateRoomButton').prop('disabled', true);
        }
    }

    function CreateRoom(player)
    {
        var roomName = $('#roomName').val();
        var password = $('#roomPassword').val();
        var playersNumber = $('input[name="playersNumber"]:checked').val()
        console.log("Da");
        $.ajax({
            type: 'GET',
            url: 'Home/CreateRoom',
            dataType: 'json',
            data: {
                roomName: roomName,
                password: password,
                player: player,
                playersNumber: playersNumber
            }
        });
        $('#modalCreateRoom').modal('hide');
        if(window.location.href.includes('Index'))
            url = 'WaitingRoom';
        else url = 'Home/WaitingRoom'
        window.location.href = url;
    }
    
    function checkRequiredFields()
    {
        if($('#txtmessage').val() != ""){
            $('#sendBtn').prop('disabled', false);
        }else {
            $('#sendBtn').prop('disabled', true);
        }
    }

    function openCreateRoomPopup()
    {
       $('#modalCreateRoom').modal('show'); 
    }

    function closeCreateRoomPopup()
    {
       $('#modalCreateRoom').modal('hide'); 
    }

    function openJoinPublicRoomPopup()
    {
        if(window.location.href.includes('Index'))
            url = 'GetPublicRoomsList';
        else url = 'Home/GetPublicRoomsList'
        $.ajax({
            url: url,
            type: 'GET',
            contentType: 'application/json',
            success: function(data) {
                if(data.length!=0)
                {
                    $('#availablePublicRooms').prop('hidden', false);
                    $('#joinPublicRoomButton').prop('hidden', false);
                    $("#selectPublicRoom").empty();
                    $.each(data, function(){
                        var connectedPlayers = 0;
                        if(this.player1!=null)
                            connectedPlayers++;
                        if(this.player2!=null)
                            connectedPlayers++;
                        if(this.player3!=null)
                            connectedPlayers++;
                        if(this.player4!=null)
                            connectedPlayers++;
                        if(connectedPlayers < this.playersNumber){
                            var displayedName = this.roomName + " (" + connectedPlayers + "/" + this.playersNumber + ")";
                            $("#selectPublicRoom").append('<option style="color:white;font-size:larger" class="select-public-room" value="'+ this.roomId +'">'+ displayedName +'</option>')
                        }
                    });

                    var selectPublic = document.getElementById('selectPublicRoom');
                    selectPublic.size = selectPublic.length;
                }else{
                    $('#noPublicRooms').prop('hidden', false);
                    $('#joinPublicRoomButton').prop('hidden', true);
                }
                $('#modalJoinPublicRoom').modal('show');
            }
        }
        );
    }

    function closeJoinPublicRoomPopup()
    {
        $('#modalJoinPublicRoom').modal('hide'); 
    }

    function JoinPublicRoom(player)
    {
        var id = parseInt($( "#selectPublicRoom").val()[0]);
        $.ajax({
            type: 'GET',
            url: 'Home/JoinPublicRoom',
            dataType: 'json',
            data: {
                roomId:id,
                player:player
            }
        });
        if(!window.location.href.includes('Index'))
            window.location.href = 'Home/WaitingRoom';
        else window.location.href = 'WaitingRoom';
    }

    function JoinPrivateRoom(player)
    {
        var id = parseInt($( "#selectPrivateRoom").val()[0]);
        $.ajax({
            type: 'GET',
            url: 'Home/JoinPrivateRoom',
            dataType: 'json',
            data: {
                roomId:id,
                player:player,
                password: $('#privateRoomPassword').val()
            },
            success: function(data) {
                console.log(data)
                if(data == "Wrong password"){
                    $('#wrongPassword').prop('hidden', false);
                }else{
                    if(!window.location.href.includes('Index'))
                        window.location.href = 'Home/WaitingRoom';
                    else window.location.href = 'WaitingRoom';
                }
            }
        });
    }

    function openJoinPrivateRoomPopup()
    {
        if(window.location.href.includes('Index'))
            url = 'GetPrivateRoomsList';
        else url = 'Home/GetPrivateRoomsList'
        $('#joinPrivateRoomButton').prop('disabled', true);
        $.ajax({
            url: url,
            type: 'GET',
            contentType: 'application/json',
            success: function(data) {
                if(data.length!=0){
                    $('#availablePrivateRooms').prop('hidden', false);
                    $('#joinPrivateRoomButton').prop('hidden', false);
                    $('#privateRoomPassword').prop('hidden', false);
                    $("#selectPrivateRoom").empty();
                    $.each(data, function(){
                        var connectedPlayers = 0;
                        if(this.player1!=null)
                            connectedPlayers++;
                        if(this.player2!=null)
                            connectedPlayers++;
                        if(this.player3!=null)
                            connectedPlayers++;
                        if(this.player4!=null)
                            connectedPlayers++;
                        if(connectedPlayers < this.playersNumber){
                            var displayedName = this.roomName + " (" + connectedPlayers + "/" + this.playersNumber + ")";
                            $("#selectPrivateRoom").append('<option style="color:white;font-size:larger" class="select-public-room" value="'+ this.roomId +'">'+ displayedName +'</option>')
                        }
                        
                    });

                    var selectPrivate = document.getElementById('selectPrivateRoom');
                    selectPrivate.size = selectPrivate.length;
                }else{
                    $('#noPrivateRooms').prop('hidden', false);
                    $('#joinPrivateRoomButton').prop('hidden', true);
                }
                
                $('#modalJoinPrivateRoom').modal('show');
            }
        }
        );
    }

    function closeJoinPrivateRoomPopup()
    {
        $('#modalJoinPrivateRoom').modal('hide'); 
    }

    $('#selectPublicRoom').change(function() {
        if($( "#selectPublicRoom :selected").length != 0){
            $('#joinPublicRoomButton').prop('disabled', false);
        }else{
            $('#joinPublicRoomButton').prop('disabled', true);
        }
    });

    $('#selectPrivateRoom').change(function() {
        if($( "#selectPrivateRoom :selected").length == 0){
            $('#joinPrivateRoomButton').prop('disabled', true);
        }else if($( "#selectPrivateRoom :selected").length != 0 && $("#privateRoomPassword").val() != ""){
            $('#joinPrivateRoomButton').prop('disabled', false);
        }
    });

    function DisableBackButton() {
       window.history.forward()
      }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
    window.onunload = function() { void (0) }
</script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat-main-page.js"></script>
