@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthentificationLayout.cshtml";
}


<div class="col-md-10 offset-md-1">
    <section>
        <div class="login-form-icon">
            <i class="fas fa-user fa-9x text-secondary icon-margin"></i>
        </div>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="custom-label"></label>
                <input asp-for="Input.Email" class="custom-input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="custom-label"></label>
                <input asp-for="Input.Password" class="custom-input" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="custom-label">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block custom-submit-buttons">Log in</button>
            </div>
            
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
